<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	
	<style>
	.square{
		height: 100px;
		width: 100px;
		margin: auto;
	}
	#A{
		background-color: blue;
	}
	</style>
</head>
<body ng-app="game" ng-controller="gameController as gc">
	<div class="container">
		<div class="row">
			<h3> 
				Hi everyone, please kill the moles.
			</h3>
			<p>
				SCORE:	{{gc.score}}, currSquare: {{gc.currSquare["display"]}}, squareA MoleIsUp: {{gc.squareA["MoleIsUp"]}}
			</p>
		</div>
		
		<!-- <div id="hammer">
			<div id="ng-style">
			</div>
		</div> the mouse will be the hammer for now -->
		
		<button ng-click='gc.moleStart()'>Play</button>
	
		<div  id="board" class="row">
			<div class = "col-xs-6 col-xs-offset-3">
				<div  id="A" class="square col-xs-6" ng-mouseover="gc.update(gc.squareA)" ng-click='gc.hit(gc.currSquare)'>
					
				</div>
				<div  id="B" class="square col-xs-6" ng-mouseover="gc.update(gc.squareB)" ng-click='gc.hit(gc.currSquare)'>
					
				</div>
			</div>
		</div>
	</div>
	
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
	<script type="text/javascript" src='moles.js'></script>
</body>
</html>